.sound-visualizer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000000;
  border-radius: 12px;
  overflow: hidden;
}

.sound-visualizer__canvas {
  width: 100%;
  height: 100%;
  display: block;
}